body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-form {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: gold;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.signup-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="date"],
.signup-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #333;
    color: white;
}

.signup-form select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23111111" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 24px;
    padding-right: 40px;
}

.signup-form button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: gold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup-form button:hover {
    background-color: #333;
}
